html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px 'Times New Roman', serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

textarea {
    resize: none;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 80px;
	background: #FFE680;
}

.header table {
    position:fixed;
    top:0;
    z-index:100;
    width:100%;
    height:inherit;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}

.header.title {
    font-size:30px;
    height:inherit;
    padding-left:50px;
    vertical-align:middle;
    width:96%;
}

.header.lang {
    font-size: 16px;
    width: 10px;
    height: 0px;
    vertical-align: bottom;
    text-align: center;
    padding-bottom: 10px;
}

a.logout {
    background-color:green;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 5px 5px;
    border: 1px solid black;
    position: fixed;
    top: 15px;
    right: 5px;
    z-index: 200;
}

span.adminLogin {
    background-color:cyan;
    font-size: 14px;
    padding: 5px 5px;
    border: 1px solid black;
    position: fixed;
    top: 15px;
    right: 60px;
    z-index: 200;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	overflow: auto;
	position: fixed;
    background-color: tomato;
    bottom: 50px;
    right: 15px;
    left: 15px;
    top: 95px;
    border: 1px dotted grey;
    padding: 0 50px;
}

.positionedLeft250 {
    left: 250px;
}

.content table#news{
    width:100%;
    border-collapse: collapse;
}

.content div.newsItem {
	min-height:120px;
	padding:5px;
    background:red;
    font-size:14px;
    border: 1px solid black;
}

.content div.title{
	margin-right: 50px;
	background:blue;
	float:left;
	font-weight: bold;
}

.titleLink {
       margin-right: 50px;
       background: blue;
       float: left;
       font-weight: bold;
}

.content div.author{
	background:green;
	float:right;
	margin-right:20px;
}

.content div.date{
	background:yellow;
	float:right;
	text-decoration: underline;
}

.content div.text{
	margin-top: 50px;
	margin-bottom: 20px;
	background:white;
	float: left;
    clear: left;
}

.content div.tags{
    float: left;
    clear: left;
    margin-left: 200px;
}

.content a.link{
	display:block;
    float: right;
    margin-left: 20px;
}

.content input.deleteCheckBox{
    float: right;
    margin-left: 5px;
}

.content div.commentsNumb{
    float: right;
}

.content div.newsItem:last-child:after{
    display: table;
    clear: both;
    content: '';
}

.pagingNavigator{
	text-align: center;
    background-color: green;
    width: 100%;
    height: 50px;
    font-size: 14pt;
    position: absolute;
    bottom: 0;
    left: 0;
}

a.back {
    display: block;
    font-size: 20px;
    margin: 10px 0;
    position: relative;
    left: -25px;
}

a.nextNews {
    font-size: 20px;
    position: fixed;
    bottom: 70px;
    right: 50px;
}

a.prevNews {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 25px;
}

.goto {
	border: 1px solid black;
	display: inline-block;
    width: 30px;
    border-radius: 5px;
    margin-right:5px;
    margin-top: 15px;
}

.goto:hover {
    background: #f3bd48;
    color: #fff;
   }

.goto a{
	 text-decoration: none;
}

.prev,
.next,
.first,
.last {
    visibility: hidden;
}

.commentPanel {
    width: 300px;
    box-sizing: border-box;
    word-break: break-word;
}

.commentPanel p {
    background-color: grey;
    padding: 10px;
}

.commentDate {
    text-decoration: underline;
}

.deleteCommentButton {
    float:right;
}

.feedbackPanelERROR {
   width:inherit;
   color:red;
}

.commentForm {
    display: inline-block;
    margin: 20px 0 40px 150px;
    width:300px;
}

.commentForm textarea{
    width:inherit;
    box-sizing: border-box;
}

.comments {
    display: table;
    margin-left: 150px;
}

select#authors {
height: 26px;
}


select#tags {
    visibility: hidden; /*to avoid blinking while rendering*/
}

form.filterForm input {
    height: 26px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	position: relative;
	background: #B5E3FF;
}

.loginForm {
    position: absolute;
    font-size: 14px;
    text-align: right;
    top: 300px;
    width: 240px;
    border: 1px solid black;
    left: 50%;
    margin-left: -120px;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	display: table;
	position: fixed;
	bottom: 0px;
	z-index:100;
	width: 100%;
	height: 30px;
	background: #BFF08E;
}

.footer div {
	display: table-cell;
	border: 1px solid black;
    vertical-align: middle;
    text-align:center;
}
